{% extends 'base.html' %}

{% block content %}
    <h1>Lista de Empleados</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
