body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: #e8e8e8ef;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-top: rgb(41, 112, 175);
}

nav a {
    margin: 0 10px;
    text-decoration: underline;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 5px solid rgb(41, 112, 175);
    padding: 8px;
}
